body{
    background: url("../img/bg.png");
    background-size: contain;
}
.card{
    height:620px;
    background-color: transparent;

}
.card-header{
    text-align: center;
    color:white ;
    background-color: rgb(5, 5, 88);
    border: 2px solid white;
}
.card-title{
    text-align: center;
    padding-top: 5px;
    border-radius: 12px;
    height: 50px;
    color:rgb(233, 227, 227);
    background-color: rgba(255, 0, 0, 0.781) ;
    

}
.card-body{
    /* background-color: black; */
    /* /background:linear-gradient(90deg,pink,white); */
 
}
.card-text{
    height: 120px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.701);
    margin-top: 20px;
    padding-top: 10px;
   text-align: center;
   font-size: 24px;
   color: rgb(247, 82, 6);
   /* / text-align: center; */

}
