body{
	background-color: rgba(228, 228, 238, 0.466);
}
.container{

	/* padding: 20px; */
}


.card{

	height: 400px; 
	width: 100%;
	box-shadow: 5px 5px 20px black;
	margin-top: 20px;
	overflow: hidden;
	border-radius: 20px;
	
	

}
.img-top{
	height: 400px;
	width: 100%;
	transition: 1s;
	

}
.intro{
	height: 70px;
	width: 600px;
	padding: 6px;
	box-sizing: border-box;
	position: absolute;
	background-color:transparent;
	color: rgb(232, 223, 223);
	
	top: 300px;
	transition: 0.6s;
}
h1{
	margin: 10px;
	font-size: 26px;
	color: rgb(241, 244, 248);
	text-shadow: 0px 0px 2px black;

}
p{
	font-size: 20px;
	margin: 20px;
	visibility: hidden;
	opacity: 0;
}
.card:hover{

	cursor: pointer;

}
.card:hover .intro{
	height: 220px;
	top: 180px;
	background-color: rgba(0, 0, 0, 0.496);
	visibility: 50%;
	/* border: 2px solid white; */

}
.card:hover p{
	opacity: 1;
	visibility: visible;
	color: rgb(255, 157, 0);
	text-shadow: 0px 0px 2px rgb(8, 0, 0);

}

.card:hover .img-top{
	transform: scale(1.1);
	

}


















/* .card-img-top{
	border: 4px solid ;
	transition:1s;
	border-color:white;
	border-radius:15% 15% 15% 15%;
	/box-shadow:0px 0px 20px white;
	
}
img:hover{
	/transform: scale(1.1);
	z-index: 4;
	border-radius:0% 0% 0%  0%;
	box-shadow:0px 0px 0px ;
}



.card{
	background:linear-gradient(90deg,black,#143D96,black);
	border:4px solid red;
	background-size: 600% 600%;
  	background-attachment: fixed;
	animation: gradient 6s ease infinite;
}
@keyframes gradient{
		0%{
			background-position: 0% 50%;
		}
		50%{
			background-position: 100% 50%;
		}
		100%{
			background-position: 0% 50%;
		}
	}
	


.card-body
{
	background:transparent;
	/box-shadow:-10px 0px 40px orange ;
	border:4px solid white;
	border-radius:0% 0% 0% 0%;

}

	


.card-title
{	
	margin-top:0px;
	border:4px solid white ;
	color:black;
	text-align:center;
	text-shadow:0.7px 0.5px 0px white;
	border-radius: 30px;
	box-shadow:0px 2px 10px white;
	font-family:bold;
	background:linear-gradient(180deg,yellow,orange);

}

.card-text{
	text-align:center;
	font-family:gadget;
	text-shadow:0px 3px 5px orange;
	color:white;


} */